@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url("components/container.css");
@import url("components/button.css");
@import url("components/tittle.css");


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #FFEBB7;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.dark-brown {
  color: #AD8E70
}



#my-name-is {
  padding: 200px 150px 200px 50px;
}

#who-am-i {
  padding: 100px 150px;
}

#who-am-i-content {
  text-align: end;
  background-color: #243763;
}

#who-am-i-content p {
  font-size: 0.8em;
}

#who-am-i img {
  width: 80%;
  object-fit: cover;
  margin: auto;
  border: 5px solid #FF6E31;
  border-radius: 10px;
}



#things-i-ve-done {
  padding: 100px 100px;
}

#things-i-ve-done .cardi {
  background-color: #243763;
  display: flex;
  align-items: center;
  padding: 50px 50px;
}

#things-i-ve-done .cardi img{
  width: 80%;
  height: auto;
  object-fit: cover;
}

#things-i-ve-done h3 {
  color: #AD8E70;
  font-family: 'Fira Mono', monospace;
  font-size: 1.2em;
}

#things-i-ve-done p {
  color: #FFEBB7;
  margin-bottom: 30px;
}



#technologies-i-ve-used {
  padding: 100px 0;
}

#technologies-i-ve-used img {
  width: 140%;
}

#technologies-i-ve-used-content {
  padding: 20px 200px 20px 0;
  text-align: end;
}

#technologies-i-ve-used li {
  color: #FF6E31;
  font-family: 'Fira Mono', monospace;
  list-style: none;
  font-size: 1.25em;
}


#whats-next {
  padding: 200px;
}

#whats-next h2 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 30px;
}

#whats-next li {
  padding: 0 15px;
  font-size: 1.2em;
  list-style: none;
}

#whats-next i {
  color: #FF6E31;
}

#whats-next a:hover {
  opacity: 0.5;
  transition: 0.4s;
}



/* @media (max-width: 540px) {
  body {
    font-size: 16px;
  }

  #my-name-is {
    padding-top: 150px;
    height: 650px;
  }

  .big-title {
    font-size: 2.5em;
  }

  .button {
    font-size: 0.5em;
    padding: 0.75rem 1rem;
  }

  #strings {
    height: 220px;
    margin-bottom: 40px;
  }

  #who-am-i-content {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-bottom: 50px;
  }

  #things-i-ve-done h4 {
    text-align: center;
    margin: 10px;
  }

  #technologies-i-ve-used-content {
    text-align: center !important;
    padding: 0;
  }

  #technologies-i-ve-used img {
    width: 80%;
    margin-top: 100px;
  }

  #technologies-i-ve-used {
    height: 600px;
  }

  #whats-next {
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
}


@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  #who-am-i-content {
    text-align: center;
    width: 80% !important;
    margin-bottom: 60px;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 50% !important;
  }


  #technologies-i-ve-used-content {
    text-align: center !important;
    padding: 50px;
  }

  #technologies-i-ve-used img {
    width: 80%;
  }

  #whats-next {
    margin: 100px 50px 0;
  }
}


@media (max-width: 960px) {
  body {
    font-size: 18px;
  }

  #who-am-i {
    background-color: transparent;
  }

  #who-am-i-content {
    text-align: center;
    width: 80% !important;
    background-color: #243763;
  }

  #who-am-i img {
    width: 60% !important;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }


  #technologies-i-ve-used img {
    width: 80%;
  }

  #technologies-i-ve-used-content {
    text-align: center !important;
    padding: 50px;
  }

  #whats-next {
    margin: 150px 150px 0;
  }
}
