@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url("components/container.css");
@import url("components/button.css");
@import url("components/title.css");


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #FFEBB7;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.dark-brown {
  color: #AD8E70
}

/* section who am i */

#my-name-is {
  padding: 200px 300px 200px 50px;
}

#who-am-i {
  padding: 100px 150px;
}

#who-am-i-content {
  text-align: end;
  background-color: #243763;
}

#who-am-i-content p {
  font-size: 0.8em;
}

#who-am-i img {
  width: 80%;
  object-fit: cover;
  margin: auto;
  border: 5px solid #FF6E31;
  border-radius: 10px;
  margin-bottom: 50px;
}

/* section thinks I've done */

#things-i-ve-done {
  padding: 100px 100px;
}

#things-i-ve-done .cardi {
  background-color: #243763;
  display: flex;
  align-items: center;
  margin: 50px 50px;
}

#things-i-ve-done .cardi img{
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-top: 25px;
}

#things-i-ve-done h3 {
  color: #AD8E70;
  font-family: 'Fira Mono', monospace;
  font-size: 1.2em;
}

#things-i-ve-done p {
  color: #FFEBB7;
  margin-bottom: 30px;
}

/* section techonogies I've used */

#technologies-i-ve-used {
  padding: 100px 0;
}

#technologies-i-ve-used img {
  width: 140%;
}

#technologies-i-ve-used-content {
  padding: 20px 200px 20px 0;
  text-align: end;
}

#technologies-i-ve-used li {
  color: #FF6E31;
  font-family: 'Fira Mono', monospace;
  list-style: none;
  font-size: 1.15em;
}

/* section what's next */

#whats-next {
  margin: 200px;
  background-color: #243763;
}

#whats-next h2 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 30px;
}

#whats-next li {
  padding: 0 15px;
  font-size: 1.2em;
  list-style: none;
}

#whats-next i {
  color: #FF6E31;
}

#whats-next a:hover {
  opacity: 0.5;
  transition: 0.4s;
}

/* media query */

@media (max-width: 960px) {
  #my-name-is {
    padding: 210px 100px 210px 100px;
  }

  #who-am-i-content {
    text-align: start;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
  }

  #things-i-ve-done h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #things-i-ve-done .cardi img{
    margin: 50px 0 30px 0;
    width: 100%;
  }

  #technologies-i-ve-used img {
    width: 70%;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 16px;
  }

  #who-am-i {
    padding: 100px 50px;
  }

  #who-am-i-content p {
    font-size: 1em;
  }

  #things-i-ve-done {
    padding: 100px 50px;
  }

  #whats-next {
    padding: 100px;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 14px;
  }

  #who-am-i {
    padding: 100px 0;
  }

  #things-i-ve-done {
    padding: 100px 0px;
  }

  #things-i-ve-done h4 {
    padding-left: 12px;
  }

  #technologies-i-ve-used {
    padding: 50px 0;
  }

  #technologies-i-ve-used-content {
    text-align: center;
    padding: 0;
  }

  #whats-next {
    margin: 70px 30px 150px 30px;
    padding: 30px;
  }
}

@media (max-width: 415px) {
  body {
    font-size: 12px;
  }

  .container {
    margin: 0;
  }

  #strings {
    height: 210px;
  }

  #my-name-is {
    padding: 150px 80px;
  }

  #things-i-ve-done {
    padding: 0;
  }

  #technologies-i-ve-used-content {
    padding-right: 40px;
  }

  #whats-next {
    padding: 50px;
  }
}
