@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #243763;
  color: #FFEBB7;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#my-name-is {
  padding: 220px 50px;
}

#strings {
  height: 186px;
  margin-bottom: 50px;
}

.little-title {
  font-family: 'Fira Mono', monospace;
  color: #FF6E31;
  font-size: 0.75em;
  margin-bottom: 0 0 20px 0;
}

.big-title {
  font-size: 4em;
  font-weight: 800;
  margin: 10px 0 0 0;
}

.dark-brown {
  color: #AD8E70
}

.button {
  font-family: 'Fira Mono', monospace;
  color: #FF6E31;
  font-size: 0.75em;
  border: 1px solid #FF6E31;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
}

.button:hover {
  opacity: 0.5;
  transition: 0.7s;
  color: #FF6E31;
}

.mediun-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #AD8E70;
  text-decoration: overline;
}

#who-am-i {
  margin-bottom: 150px;
}

#who-am-i-content {
  padding: 50px;
  width: 50%;
  text-align: end;
}

#who-am-i img {
  object-fit: cover;
  height: 70vh;
  margin: auto;
  border: 5px solid #FF6E31;
  border-radius: 10px;
}

#things-i-ve-done {
  height: 700px;
  display: flex;
  align-items: center;
  /* margin-bottom: 180px; */
}

.things-i-ve-done-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card {
  padding: 20px;
  border: 0,5px solid #AD8E70;
  box-shadow: 2px 0px 6px 2px  rgba(0,0,0,0.3);
  background-color: transparent;
}

a img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

a h3 {
  color: #AD8E70;
  margin-top: 20px;
  font-family: 'Fira Mono', monospace;
}

a p {
  font-size: 1em;
  color: #FFEBB7
}

#technologies-i-ve-used {
  height: 700px;
  padding: 100px 0;
}

#technologies-i-ve-used img {
  width: 120%;
}

#technologies-i-ve-used-content {
  padding: 20px 130px;
  text-align: end;
}

#technologies-i-ve-used li {
  color: #FF6E31;
  font-family: 'Fira Mono', monospace;
  list-style: none;
  font-size: 1.25em;
}

#whats-next {
  height: 750px;
  display: flex;
  align-items: center;
}

#whats-next h2 {
  font-size: 3em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

#whats-next li {
  padding: 0 15px;
  font-size: 1.2em;
  list-style: none;
}

#whats-next i {
  color: #FF6E31;
}



@media (max-width: 540px) {
  body {
    font-size: 16px;
  }

  #my-name-is {
    padding-top: 150px;
    height: 100vh;
  }

  .big-title {
    font-size: 2.5em;
  }

  .button {
    font-size: 0.5em;
    padding: 0.75rem 1rem;
  }

  #strings {
    height: 220px;
    margin-bottom: 40px;
  }

  #who-am-i-content {
    padding: 0;
    text-align: center;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    margin-bottom: 50px;
  }

  #things-i-ve-done h4 {
    text-align: center;
    margin: 10px;
  }

  .things-i-ve-done-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #technologies-i-ve-used-content {
    text-align: center !important;
    padding: 0;
  }

  #technologies-i-ve-used img {
    width: 80%;
    margin-top: 100px;
  }

  #technologies-i-ve-used {
    height: 600px;
  }

  #whats-next {
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
}


@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  #who-am-i-content {
    text-align: center;
    width: 80%;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .things-i-ve-done-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #technologies-i-ve-used img {
    width: 80%;
  }

  #whats-next {
    margin: 100px 50px 0;
  }
}


@media (max-width: 960px) {
  #who-am-i-content {
    text-align: center;
    width: 80%;
  }

  #who-am-i img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .things-i-ve-done-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #technologies-i-ve-used img {
    width: 80%;
  }

  #whats-next {
    margin: 150px 50px 0;
  }
}
