@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #243763;
  color: #FFEBB7;
}

.container {
  padding: 0 150px;
}

a {
  text-decoration: none;
}

#my-name-is {
  margin: 200px 0;
}

.little-title {
  font-family: 'Fira Mono', monospace;
  color: #FF6E31;
  font-size: 16px;
  margin-bottom: 0 0 20px 0;
}

#my-name-is h2, h3 {
  font-size: 78px;
  font-weight: 800;
  margin: 10px 0 0 0;
}

#my-name-is h3 {
  margin-bottom: 40px;
  color: #AD8E70
}


.button {
  font-family: 'Fira Mono', monospace;
  color: #FF6E31;
  font-size: 14px;
  border: 1px solid #FF6E31;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  margin: 50px 0 0 0 !important;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  color: #AD8E70;
  text-decoration: overline;
}

#who-am-i {
  display: flex;
  margin-bottom: 100px;
}

#who-am-i-content {
  font-size: 20px;
  padding: 50px;
  width: 50%;
  position: relative;
}

#who-am-i img {
  object-fit: cover;
  height: 70vh;
  margin: auto;
  border: 5px solid #FFEBB7;
  border-radius: 10px;
}

#things-i-ve-done {
  margin-bottom: 100px;
}

.things-i-ve-done-cards {
  display: flex;
  justify-content: start;
}

.card {
  width: 25%;
  height: auto;
  padding: 10px;
  margin-right: 20px;
  border: 0,5px solid #AD8E70;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.card a {
  font-size: 25px;
  color: #FF6E31;
}

.card li {
  color: #AD8E70
}

#whats-next {
  text-align: center;
  padding: 80px 250px;
}

#whats-next h2 {
  font-size: 55px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

#whats-next p {
  margin-bottom: 50px;
  color: #AD8E70
}

.list-inline {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

.list-inline li {
  padding: 0 15px;
  font-size: 20px;
}

i {
  color: #FF6E31;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
